html,
body {
  height: 100%;
  width: 100%;
  min-width: 980px;
  margin: 0px !important;
  padding: 0px !important;
  display: grid;
  place-items: center;

}

.cont_row {
  display: flex;
  flex-direction: row;
}
.cont_col {
  display: flex;
  flex-direction: column;
}

#contenedor {
  width: 100%;
}
#nav {
  

  width: 100%;
} 
#header_nav{
padding: 10px;
  background-image: linear-gradient(to top, white 0%, moccasin 50%);
}
#nav div#header_nav.cont_row {
  position: relative;



  align-items: center;

  height: 100px;
}

#nav div.cont_row #logo {
  margin-left: 10px;
  padding-right: 25px;

  border-right: 3px solid #ff7eee;

  height: 100%;
}
#nav div.cont_row #logo-name {
  margin: 0px 20px 0px 30px;

  color: #ff7eee;
  font-size: 70px;
  font-family: "Lilita One", cursive;
}
#nav div.cont_row .icon {
  position: absolute;
  right: 10px;

  font-size: 70px;
  color: #494949;
}
#nav div.cont_row #a.icon {
  right: 80px;
}
/*----(portada (nav_var y banner))-----------------------------------------------------------*/
#portada{
  background-image: linear-gradient(to bottom, #333333 20%,#333333 60%, white 60%,white 100%);


}



/*----(nav_var)-----------------------------------------------------------*/
#nav_var{
  width: 100%;
}

#nav_var ul,ol{
  list-style: none;
  background-color: #333333;
  margin: 0px;
  padding: 10px;
  
  

}
#nav_ul li a{
  padding: 10px;
  display: block;
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#nav_ul li a:hover {
  background-color: #474747;
  cursor: pointer;
  border-radius: 20px;
}
#nav_ul {
  width: 100%;
}
#nav_ul > li{
  float: left;

} 
#nav_ul li ul{
  display:none;
  position: absolute;
  min-width: 200px;
}
#nav_ul li:hover > ul{
  display: block;
}
/*--------(banner)--------------------------------------------------------*/
#banner{
  margin-top: 40px;


  justify-content: center;
}
.banner{
  width: 90%;
  border-radius: 50px;
}

/*-----(colecciones)-------------------------------------------------------------*/
#colecciones{
  margin-left: 20px;
  margin-right: 20px;

  flex-wrap: wrap;
  justify-content: space-evenly;
}
#colecciones div{
  margin: 20px;
  margin-bottom: 40px;

  text-align: center;

  width: 28%;
  height: 260px;
  min-width: 370px;
}
#colecciones div img{
  background-size: cover;
  background-position: center;

  border: 4px solid #ff7eee;
  border-radius: 25px;
  object-fit: cover;

  height: 88%;
}
#colecciones div a{
  font-size: 30px;
  color: #ff7eee;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title_section{
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 50px;
  font-family: "Lilita One", cursive;
}
/*  -----------------recomendados-------------------------  */
.recomendado{
  width: 90%;
  padding: 25px;
  align-items: center;
}
.recomendado img{
  width: 100%;
  

}
.recomendado .description,.img{
  width: 100% ;
  margin: 25px;
  text-align: center;
  
}
.recomendado .description h3{
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 50px;
  font-family: "Lilita One", cursive;
  margin: 15px;
}
.recomendado .description h4{
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 55px;
  font-family: "Lilita One", cursive;
  margin: 15px;
}
.recomendado .description p{
  font-size: 24px;
  font-family:Roboto,sans-serif;
  color: #333333;
}
.recomendado .description button{
  height: 55px;
  width: 160px;
  border: none;
  border-radius: 30px;
  background-color:#ff7eee ;
  font-family:Roboto,sans-serif;;
  color: #ffffff;
  font-size: 24px;
  margin: 10px;
}
.recomendado .description button:hover{
  background-color: #ffffff;
}