html,body{
  height: 100%;
  width: 100%;
  min-width: 1000px;
  margin: 0px !important;
  padding: 0px !important;
}

.cont_row{
  display: flex;
  flex-direction: row;


}
.cont_col{
  display: flex;
  flex-direction: column;

  
}


#nav{
  align-items: center;
  margin: 10px 10px 10px 10px;
  height: 100px;
  width: 100% !important;
}
#logo{
  height: 100%;
  
}